body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.background-color-dark-purple {
  background-color: rgba(61, 18, 85, 1);
}

.background-color-medium-purple {
  background-color: rgba(120, 77, 144, 1);
}

.background-color-light-purple {
  background-color: rgba(151, 117, 170, 1);
}

.hidden {
  display: none;
}

.btn {
  text-transform: capitalize;
}
